@page "/CadastrarArtista"
@inject ArtistaAPI artistasAPI
@inject NavigationManager navigationManager


<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">
    <div class="d-flex justify-space-between mt-8">
        <MudText Typo="Typo.h4"> Cadastro do Artista </MudText>
        <div><MudButton OnClick="Voltar" Variant="Variant.Filled" Color="Color.Secondary">Voltar</MudButton></div>
    </div>
    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="nome"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="biografia"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        @* Exibe a imagem apenas se fileImage não for nulo ou vazio *@
        @if (!string.IsNullOrEmpty(fileImage))
        {
            <MudImage Class="mt-4" src="@fileImage" Style="width:200px; height:200px; object-fit:cover;" />
        }

        <MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile" >
                
            <ActivatorContent > 
                    <MudButton
                    HtmlTag="label"
                    Class="mt-4"    
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.PhotoCamera"
                    >
                    Foto de Perfil
                </MudButton>
            </ActivatorContent>
                    
                    
                
            </MudFileUpload>



        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       OnClick="Cadastrar"
                       Color="Color.Primary"
                       Class="ml-auto">
                Cadastrar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>
   


   

@code {
    private string? nome;
    private string? biografia;
    private string? fileImage;
    private string? fotoPerfil;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(nome!, biografia!, fotoPerfil);
        await artistasAPI.AddArtistaAsync(request);
        navigationManager.NavigateTo("/Artistas");
    }

    private async Task UploadFile(IBrowserFile file)
    {
        long maxFileSize = 1024 * 1024 * 15;
        var format = "image/jpeg";
        var resizedImage = await file.RequestImageFileAsync(format, 200, 200);

        using var fileStream = resizedImage.OpenReadStream();
        using var memoryStream = new MemoryStream();
        await fileStream.CopyToAsync(memoryStream);

        var imageUpload = Convert.ToBase64String(memoryStream.ToArray());

        fileImage = $"data:{format};base64,{imageUpload}";

        fotoPerfil = imageUpload; 

    }

    private void Voltar()
    {
        navigationManager.NavigateTo("/Artistas");
    }

}



